<div class="container-fluid px-md-5 py-md-4">
  <form >
    <div id="smartwizard" class="row">
      <div #wizard class="w-100 my-3">
        <ul>
          <li><a href="#step-1"><h2><span [translate]="'CoursesLocal.Modal.Title'"></span> - <span [translate]="'CoursesLocal.Modal.TitleFileUpload'"></span></h2></a></li>
          <li><a href="#step-2"><h2><span [translate]="'CoursesLocal.Modal.Title'"></span> - <span [translate]="'CoursesLocal.Modal.TitleGeneralCheck'"></span></h2></a></li>
          <li><a href="#step-3"><h2><span [translate]="'CoursesLocal.Modal.Title'"></span> - <span [translate]="'CoursesLocal.Modal.TitleCompleted'"></span></h2></a></li>
        </ul>

        <div>
          <div id="step-1" class="">
            <app-courses-grades-step-1 (selectedFileOutput)='getInputFileName($event)' [errorMessage]="errorMessage"></app-courses-grades-step-1>
          </div>
          <div id="step-2" class="">
            <app-courses-grades-step-2 [resultsOfUpload]="resultsOfUpload" [courseExam]="courseExam" [counters]="counters" [message]="message"></app-courses-grades-step-2>
          </div>
          <div id="step-3" class="">
            <app-courses-grades-step-3 [resultsOfSubmission]="resultsOfSubmission" [courseExam]="courseExam" [errorMessage]="errorMessage" [message]="message"></app-courses-grades-step-3>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
