.card {
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  margin-bottom: 0.5rem;
  .card-body {
    .card-body-title {
      color: #29363d;
    }
  }
}

.btn-active-color{
  background-color: #664BF1;
  color:#fff;
}

.btn{
  border-radius: .25rem;
}

.btn:focus {
  outline-style: none;
  box-shadow: none;
}
